@model IEnumerable<ProyectoControlLineaBus.Models.Person>

@{
    ViewBag.Title = "Dueños";
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>
</head>
<div style="margin-top:5%"></div>
<body>
    <h2 class="text-center">Dueños</h2>
    <div class="form-outline mb-4" data-mdb-input-init>
        <input type="search" id="txtBuscar" placeholder="Buscar por nombre o NIT" class="form-control" oninput="filtrarTabla()">
    </div>

        <div class="table-responsive">
            <table class="table text-white" id="tablaDatos">

                <tr>
                    <th style="text-align: center;">
                        Nombre
                    </th>
                    <th style="text-align: center;">
                        NIT
                    </th>
                    <th style="text-align: center;">
                        Teléfono
                    </th>
                    <th style="text-align: center;">
                        Fecha de Registro
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align: center;">
                            @(item.name+ " "+item.lastname)
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.nit)
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.phone)
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.dateRegister)
                        </td>
                        <td style="text-align: center;">
                            @Html.ActionLink("Editar", "Edit", new { id = item.nit }, new { @class = "btn btn-warning text-white mb-2" })
                            <a href="#" class="btn btn-danger mb-2" data-toggle="modal" data-target="#personModal" data-id="@item.nit" data-description="@item.nit">Eliminar</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    <div class="modal fade" id="personModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:black" id="confirmationModalLabel">Confirmar Eliminación</h5>
                    <button type="button" style="color:black" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="color:black">
                    ¿Estás seguro de que deseas eliminar esta persona?
                    <p><span id="description"></span> </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <a id="confirmDelete" href="#" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#personModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var description = button.data('description');
        var modal = $(this);
        modal.find('#description').text(description);
        modal.find('#confirmDelete').attr('href', '@Url.Action("Delete", "Person")/' + button.data('id'));
        });
    </script>

    <script>
        function filtrarTabla() {
            var input, filter, table, tr, tdNit, tdNombre, i, txtValueNit, txtValueNombre;
            input = document.getElementById("txtBuscar");
            filter = input.value.toUpperCase();
            table = document.getElementById("tablaDatos");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                tdNombre = tr[i].getElementsByTagName("td")[0]; 
                tdNit = tr[i].getElementsByTagName("td")[1]; 

                if (tdNit && tdNombre) {
                    txtValueNit = tdNit.textContent || tdNit.innerText;
                    txtValueNombre = tdNombre.textContent || tdNombre.innerText;

                    if (txtValueNit.toUpperCase().includes(filter) || txtValueNombre.toUpperCase().includes(filter) || (txtValueNit + " " + txtValueNombre).toUpperCase().includes(filter)) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</body>

