@model List<ProyectoControlLineaBus.Models.ChoferObservaciones>

<head>
    <title class="text-center">Incidencias del Chofer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8" />
    <title>Reporte de Chofer - @ViewBag.Name</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>
    <style>

        .select-container {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        select {
            padding: 5px;
            font-weight: bold;
            width: 200px;
            margin-bottom: 5%;
        }

        .btn-outline-primary,
        .btn-outline-danger,
        .btn-outline-warning,
        .btn-outline-secondary,
        .btn-outline-success,
        .btn-outline-info {
            border-width: 4px;
            font-weight: bold;
            color: white;
        }

        .btn-outline-primary {
            border-color: rgba(0, 123, 255, 0.7);
        }

        .btn-outline-danger {
            border-color: rgba(220, 53, 69, 0.7);
        }

        .btn-outline-info {
            border-color: rgba(23, 162, 184, 0.7);
        }


        .btn-outline-primary:hover {
            background-color: #007bff;
            color: white;
        }

        .btn-outline-danger:hover {
            background-color: #dc3545;
            color: white;
        }

        .btn-outline-info:hover {
            background-color: #17a2b8;
            color: white;
        }

        , .btn-primary, .btn-danger {
            width: 150px;
            font-weight: bold;
        }

        .btn-secondary {
            background-color: #6c757d;
        }

            .btn-secondary:hover {
                background-color: #5a6268;
            }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

            .btn-primary:hover {
                background-color: #0069d9;
                border-color: #0062cc;
            }

        .btn-danger {
            font-weight: bold;
            background-color: #dc3545;
            border-color: #dc3545;
        }

        .btn-primary {
            font-weight: bold;
            background-color: rgba(0, 123, 255, 0.7);
            border-color: rgba(0, 123, 255, 0.7);
        }

        table {
            border-collapse: collapse;
            width: 60%;
            margin: 0 auto;
            background-color: #010145;
        }

        thead th {
            text-align: center;
            font-weight: bold;
            color: white;
            padding: 15px;
        }

        th, td {
            border: none;
            padding: 15px;
        }

        th, td {
            color: white;
        }

        tr:nth-child(even) {
            background-color: #444;
        }

        .fecha-columna {
        }
    </style>
</head>

<h2 style="text-align:center;margin-top:5%;">Observaciones del Chofer</h2>
<div>
    @Html.ActionLink("Volver", "Index", "Employee", "", new { @class = "btn btn-outline-primary", @style="margin-bottom:2%" })
</div>

<div class="select-container">

    <div>
        <label for="selectMes">Mes:</label>
        <select id="selectMes" onchange="filtrarObservaciones()">
            <option value="1">Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo</option>
            <option value="4">Abril</option>
            <option value="5">Mayo</option>
            <option value="6">Junio</option>
            <option value="7">Julio</option>
            <option value="8">Agosto</option>
            <option value="9">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
        </select>
    </div>

    <div>
        <label for="selectAnio">Año:</label>
        <select id="selectAnio" onchange="filtrarObservaciones()">
            @for (int year = DateTime.Now.Year; year >= 2000; year--)
            {
                <option value="@year">@year</option>
            }
        </select>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-4">
        <button type="button" onclick="enviarReporte()" class="btn btn-primary mt-4">Imprimir</button>
    </div>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th class="fecha-columna">Fecha</th>
            <th>Observación</th>
        </tr>
    </thead>
    <tbody id="observacionesBody">
        @foreach (var observacion in Model)
        {
            <tr>
                <td class="fecha-columna">@observacion.fechaObservacion.ToString("dd/MM/yyyy")</td>
                <td>@observacion.observacion</td>
            </tr>
        }
    </tbody>
</table>

<script>

    function setBoliviaTime() {

        var options = { timeZone: 'America/La_Paz' };
        var boliviaDate = new Date().toLocaleString('en-US', options);
        var fechaBolivia = new Date(boliviaDate);

        var mesActual = fechaBolivia.getMonth() + 1;
        var anioActual = fechaBolivia.getFullYear();

        document.getElementById("selectMes").value = mesActual;
        document.getElementById("selectAnio").value = anioActual;

        filtrarObservaciones();
    }

        function enviarReporte() {
        var mes = document.getElementById("selectMes").value;
        var anio = document.getElementById("selectAnio").value;
        var id = '@ViewBag.name';  // Aquí se obtiene el id del ViewBag

        // Redirigir a la acción del controlador con los parámetros
            window.location.href = '/NewReport/PrintedReportObservaciones?id=' + id + '&mes=' + mes + '&anio=' + anio;
    }

    function filtrarObservaciones() {
        var mes = parseInt(document.getElementById("selectMes").value);
        var anio = parseInt(document.getElementById("selectAnio").value);

        var rows = document.querySelectorAll("#observacionesBody tr");
        rows.forEach(function (row) {
            var fechaText = row.children[0].innerText;
            var fechaParts = fechaText.split("/");
            var dia = parseInt(fechaParts[0]);
            var mesObservacion = parseInt(fechaParts[1]);
            var anioObservacion = parseInt(fechaParts[2]);

            if (mesObservacion === mes && anioObservacion === anio) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    }

    window.onload = function () {
        setBoliviaTime();
    };
</script>
